
<div class="detailContainer">
	<div class="detailLeft">
		<div class="pic" style="background-image:url(/img/detail1.webp)"></div>
	</div>
	<div class="detailRight">
		<div class="detailTitle">日本直运 正品花王纸尿裤S82/尿不湿S82 婴儿宝宝尿不湿 小号</div>
		<div class="detailDes">此款花王纸尿裤为日本直运，经过正规报关，商检，为100%正品。由于销量巨大，采购均为整个货柜，不存在散包，单包采购的现象，每次采购均为同批次产品，不同客户使用同批次产品会产生不同反映，宝宝使用了红屁屁，有味道，触摸有颗粒感，图案不一样等等情况在以下描述上均有说明，此商品税率10%，原产地：日本！</div>
		<div class="detailPrice">
			<div class="a">
				<div class="r left" style="padding-top:10px;">价格</div>
				<div class="r left" style="padding-top:10px;color:black;font-size:14px;">¥115.00</div>
				<div class="r right" style="text-align:center">
					<div style="font-size:18px">197</div>
					<div>累计评论</div>
				</div>
				<div class="r right" style="text-align:center">
					<div style="font-size:18px;">251</div>
					<div>交易成功</div>
				</div>
			</div>
			<div class="a">
				<div class="r left" style="padding-top:10px;">淘宝价</div>
				<div class="r" style="font-size:26px;color:#f40;font-weight:700;padding-top:5px">¥105.00</div>
			</div>

		</div>
		<div class="detailSend">
			<div class="r left">配送</div>
			浙江宁波 至 全国 快递 ¥50.00 卖家承诺16小时内发货</div>
		<div class="detailNumber">
			<div class="r left" style="padding-top:10px;">数量</div>
			<div class="counter">
				<div class="sign left" ng-click="counterDecrease()">-</div>
				<div class="signMiddle left">{{counter}}</div>
				<div class="sign right" ng-click="counterAdd()">+</div>
			</div>
			件(库存468件)</div>
		<div class="detailButton">
			<a class="btn1">立即购买</a>
			<a class="btn2">加入购物车</a>
		</div>
	</div>
</div>