<div class="statebar">
	<a href="#/"><span class="ll"></span></a>
	<span class="m">商品详情</span>
	<span id="r" ng-click="showMenu()"></span>
</div>
<div class="menubar">
	<a href=""><div class="menubarbtn"><div id="icon1"></div></div></a>
	<a href=""><div class="menubarbtn"><div id="icon2"></div></div></a>
	<a href=""><div class="menubarbtn"><div id="icon3"></div></div></a>
	<a href=""><div class="menubarbtn"><div id="icon4"></div></div></a>
</div>
<div style="background: green; height:1000px;z-index:20;">dfsafadsf</div>
