<div class="statebar">
	<a href="#/"><span class="ll"></span></a>
	<span class="m">服务承诺</span>
	<span id="r" ng-click="showMenu()"></span>
</div>
<div class="menubar">
	<a href=""><div class="menubarbtn"><div id="icon1"></div></div></a>
	<a href=""><div class="menubarbtn"><div id="icon2"></div></div></a>
	<a href=""><div class="menubarbtn"><div id="icon3"></div></div></a>
	<a href=""><div class="menubarbtn"><div id="icon4"></div></div></a>
</div>

<div class="policy">
<div>
	<span class="policyTitle">网易自营</span>
	<span class="policySubtitle">/NetEase</span>
</div>
<div class="policyText">网易考拉海购为丁老板斥重金打造，所有商品均为批量采购，保证价格最具竞争力。</div>
<div>
	<div class="policyImg1"></div>
	<div class="policyImg2"></div>
	<div class="policyImg3"></div>
</div>
<div>
	<span class="policyTitle">正品保障</span>
	<span class="policySubtitle">／Genuine</span>
</div>
<div class="policyText">从有态度的门户，到有良心的电商。正品？那是必须的！网易考拉海购拥有无人能及的环球品牌渠道资源，让用户能够放心购买，完全不用担心正品问题。</div>
<div></div>
<div>
	<span class="policyTitle">产地直采</span>
	<span class="policySubtitle">／Global</span>
</div>
<div class="policyText">丁老板亲自带领团队深入全球各地，精挑细选，保证商品品质，性价比最高。</div>
<div></div>
<div>
	<span class="policyTitle">售后无忧</span>
	<span class="policySubtitle">／Promise</span>
</div>
<div class="policyText">网易考拉海购承诺7天无忧退货，直接将商品退至国内地址。有了考拉，再也不用为复杂的海外退换货流程和昂贵的国际运费烦恼了！</div>
<div></div>
</div>