html, body{
}
body{
	background-color: rgb(245,245,245);
}
.board{
	margin:auto;
	width:900px;
	height:900px;
	
	background-color: white;
	box-shadow:-1px 1px 4px #888888;
}
.piece{
	width:100px;
	height:100px;
	background:red;
	position: relative;
	border-radius:50px;
	box-shadow:0px 3px 4px #888888;
}

svg line{
	stroke:rgb(255,0,0);
	stroke-width:2;
	position:relative;
}

.op{
	opacity: 0.8;
}