<div class="menubar">
	<div class="container">
		<a href="#/home/0"><div class="menubaritem" ng-class="{active: isActive(0)}">首页</div></a>
		<a href="#/home/1"><div class="menubaritem" ng-class="{active: isActive(1)}">母婴专区</div></a>
		<a href="#/home/2"><div class="menubaritem" ng-class="{active: isActive(2)}">美容彩妆</div></a>
		<a href="#/home/3"><div class="menubaritem" ng-class="{active: isActive(3)}">家居个护</div></a>
		<a href="#/home/4"><div class="menubaritem" ng-class="{active: isActive(4)}">进口美食</div></a>
		<a href="#/home/5"><div class="menubaritem" ng-class="{active: isActive(5)}">营养保健</div></a>
		<a href="#/home/6"><div class="menubaritem" ng-class="{active: isActive(6)}">海外直邮</div></a>
		<a href=""><div class="gouwuche"><span class="iconcart">购物车</span><div class="circle">0</div></div></a>
	</div>
</div>