<div class="menubar">
	<div class="container">
		<a href=""><div class="menubaritem active">首页</div></a>
		<a href=""><div class="menubaritem">母婴专区</div></a>
		<a href=""><div class="menubaritem">美容彩妆</div></a>
		<a href=""><div class="menubaritem">家居个护</div></a>
		<a href=""><div class="menubaritem">进口美食</div></a>
		<a href=""><div class="menubaritem">营养保健</div></a>
		<a href=""><div class="menubaritem">海外直邮</div></a>
		<a href=""><div class="gouwuche"><span class="iconcart">购物车</span><div class="circle">0</div></div></a>
	</div>
</div>