<div class="sales" >
	<div class="salesframe" >
		<a href="" class="salesimg"><img src={{salesImg[0]}}></a>
		<a href="" class="salesimg"><img src={{salesImg[1]}}></a>
		<a href="" class="salesimg"><img src={{salesImg[2]}}></a>
		<a href="" class="salesimg"><img src={{salesImg[3]}}></a>
		<div id="salesBtn1" ng-click="changeImg(-1)"><p>〈</p></div>
		<div id="salesBtn2" ng-click="changeImg(1)"><p>〉</p></div>
		<div id="salesBtn3">
			<div ng-mouseover="changeImgTo(0)"></div>
			<div ng-mouseover="changeImgTo(1)"></div>
			<div ng-mouseover="changeImgTo(2)"></div>
			<div ng-mouseover="changeImgTo(3)"></div>
		</div>
	</div>
</div>