<div>
<div class="container">
	<div style="margin: 20px 15px 20px 0;">
		<a href="#/" style="text-decoration:none;">网易考拉海购</a>
		<span style="color:#999;">> Dalla Costa 黛乐 童趣卡通意面 字母造型 250克</span>
	</div>
	<hr style="border: 1px solid #eee;"/>
	<div style="height:620px;margin-top: 20px;">
		<div class="detailImg"><img src="img/onlineidtvumov12090_430_430.jpg"></div>
		<div class="detailDes">
			<div class="detailText1"><img src="img/us.png">意大利直供 杭州保税仓发货</div>
			<div class="detailText2">Dalla Costa 黛乐 童趣卡通意面 字母造型 250克</div>
			<div class="detailText3">花式意面代表品牌，童趣字母造型意面，好吃又好玩，更添加丰富蔬菜制作多彩的意面，增强宝宝食欲，而且口感软糯有嚼劲，宝宝不挑食，爱上吃意面。宝宝多多进食，身体才能更强壮~</div>
			<hr />
			<div>
				<span class="detailSub">价格</span>
				<span class="detailPrice">¥35.00</span>
				<span class="detailPromote">包邮</span>
				<span class="detailOldPrice">国内参考价 ¥46.00</span>
			</div>
			<hr />
			<div class="detailText4">
				<span class="detailSub">运费</span>意大利至  北京市　免运费
			</div>
			<div class="detailText5">
				<span class="detailSub">数量</span> 1 库存充足
			</div>
			<div class="detailText7">
				<div class="btnBuy">立即购买</div>
				<div class="btnAddToCart">加入购物车</div>
			</div>
		</div>
	</div>
	<div class="titleFrame">
		<div class="title">相关推荐</div>
		<div class="subtitle">购买了该商品的人还买了这些</div>
	</div>
	<suggestion></suggestion>
	<div class="detailMore">看了又看</div>
	<div class="detailInfo">商品详情
		<img src="img/baoshui.png">
		<img src="img/onlinei5exh9gs10183.jpg">
		<img src="img/onlineid5nr14c11351.jpg">
	</div>
</div>
</div>