<div style="background:white; height:auto;">
<div class="container">
	<div><a href="#/">网易考拉海购</a>> Dalla Costa 黛乐 童趣卡通意面 字母造型 250克</div>
	<hr />
	
	<div class="detailImg"><img src="img/onlineidtvumov12090_430_430.jpg"></div>
	
	<div class="detailDes">
		<div>意大利直供 杭州保税仓发货</div>
		<div>Dalla Costa 黛乐 童趣卡通意面 字母造型 250克</div>
		<div>花式意面代表品牌，童趣字母造型意面，好吃又好玩，更添加丰富蔬菜制作多彩的意面，增强宝宝食欲，而且口感软糯有嚼劲，宝宝不挑食，爱上吃意面。宝宝多多进食，身体才能更强壮~</div>
		<div>价格¥35.00 包邮 国内参考价  ¥46.00</div>
		<div>运费意大利至  北京市　免运费</div>
		<div>数量 1 库存充足</div>
		<div>立即购买加入购物车</div>
	</div>
</div>
</div>