<div class="statebar">
	<div class="container">
		<div class="navleft">欢迎你!
			<a href=""class="menuitem" ng-click="showLoginWindow()">登录</a>|
			<a href="" class="menuitem" ng-click="showRegisterWindow()">免费注册</a>
		</div>
		<div class="navright">
			<a href="#" class="menuitem">我的订单</a>|
			<div class="center">
				<a href="#" class="menuitem" >个人中心
					<i class="arr"></i>
				<div id="submenu">
					<a href="#" class="submenuitem">我的优惠卷</a>--------------------
					<a href="#" class="submenuitem">我收藏的商品</a>--------------------
					<a href="#" class="submenuitem">售后管理</a>
				</div>
			</a>
			</div>|
			<div class="center">
				<a href="#" class="menuitem">客户服务
					<i class="arr"></i>
				<div id="submenu">
						<a href="#" class="submenuitem">联系客服</a>--------------------
						<a href="#" class="submenuitem">123-4567-8901</a>--------------------
						<a href="#" class="submenuitem">帮助中心</a>
					</div>
				</a>
			</div>|

			<a href="#" class="menuitem">游戏充值</a>|
			<a href="#" class="menuitem">消费者告知书</a>|

			<div class="center1">
				<a href="#" class="menuitem">更多
					<i class="arr"></i>
					<div id="submenu1">
						<a href="#" class="submenuitem">收藏本站</a>---------------
						<a href="#" class="submenuitem">新浪微博</a>
						<a href="#" class="submenuitem">微信公众号</a>
						<a href="#" class="submenuitem">易信公众号</a>---------------
						<a href="#" class="submenuitem">招商合作</a>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>